<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    
    <title>Previous Searches</title>
</head>
<body>

    <h1 style="text-align: center;">Previous Searches</h1>
    <table class="table" id="prev_search">
        <thead>
            <tr>
                <th>Keyword</th>
                <th>Title</th>
                <th>Published Date</th>
                <th>Link</th>
                <th>Fetch Latest</th>
            </tr>
        </thead>
        <tbody>
            {% for search in searches %}
                <tr>
                    <td>{{ search.search_query }}</td>
                    <td>{{ search.title }}</td>
                    <td>{{ search.date_published }}</td>
                    <td><a href="{{ search.url }}" target="_blank">read here</a></td>
                    <td><form action="{% url 'refresh_results' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="query_id" value="{{ search.id }}">
                        <input type="submit" value="Latest news for '{{ search.search_query }}'">
                    </form>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

    <script>
    $(document).ready(function() {
            $('#prev_search').DataTable({
                ordering: true,  // Enable ordering (sorting)
            });
        });
    </script>

</body>
</html>
